body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'VT323', Arial, Helvetica, sans-serif;
  background-color: #E6E6FA;
}

header {
  padding: 5px 15px;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: rgba(224, 224, 224, 0.808);
  font-size: 2rem;
  gap: 30px;
  z-index: 2;
}

.overlay button {
  font: inherit;
  font-size: 2rem;
  background: none;
  border: none;
  color: red;
}

.help {
  font: inherit;
  font-size: 2rem;
  background: none;
  border: none;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

.card { 
  height: 90%;
  width: 85%; 
  
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: transform 3s;

}

.card-front, .card-back {
  backface-visibility: hidden;
  border: 8px solid rgb(255, 247, 0);
  background-color: rgb(99, 221, 255);
  border-radius: 15px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

}

.card.flipped {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
  border: 8px solid rgb(255, 247, 0);
  background-color: rgb(99, 221, 255);  
  display: flex;
  justify-content: center;
}

.card img {
  object-fit: cover;
  
}


.card-back img {
  
  width: 100%;
  object-fit: contain;
}

.card h2 {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  margin: 0px;
}



@media (min-width: 600px) {
  body {
    --card-width: 18vw;
    --card-height: calc(var(--card-width) * 3 / 2);
  }

  .cards {
    width: 100vw;
    height: 80vh;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr)); /* Adjust for smaller screens */
    justify-items: center;
    align-items: baseline;
    gap: 0px;
  }

  .card {
    max-height: var(--card-height);
    max-width: var(--card-width);
  }

  .card img {
    max-height: calc(var(--card-height) * 2/3);
    max-width: var(--card-width);

  }
  
  .card h2 {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  
  .cards {
    width: 100vw;
    height: 70vh;
    grid-template-rows: repeat(3, 1fr); /* Adjust for smaller screens */
    grid-template-columns: repeat(4, 1fr) ;
    justify-items: center;
    align-items: center;
    gap: 0px;
  }
  .card {
    max-height: 100%;
    max-width: 100%;
  }

  .card img {
    max-height: 66%;
    max-width: 100%;

  }
  

  .card h2 {
    font-size: 1rem;
  }

}