body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow-y: hidden;
  font-family: 'VT323', Arial, Helvetica, sans-serif;
  background-color: #E6E6FA;
}

.card {
  border: 8px solid rgb(255, 247, 0);
  max-height: 300px;
  max-width: 200px;
  background-color: rgb(99, 221, 255);
  border-radius: 15px;
}

.card img {
  max-height: 200px;
  max-width: 200px;
  object-fit: cover;
}

.card h2 {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0px;
  gap: 10px;
}

header {
  padding: 5px 15px;
}